.secondDay {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secondDay__row {
    width: 100%;
    background-color: #4157A2;
    text-align: center;
}

.secondDay__title {
    font-size: 40px;
    font-weight: normal;
}

.secondDay__text {
    max-width: 1300px;
    font-size: 30px;
}

.secondDay__secret {
    text-align: center;
}

.secondDay__postScriptum {
    font-size: 25px;
}

.secondDay__tel {
    text-decoration: none;
    color: white;
}
