.footer {
    width: 100%;
    background-color: #4157A2;
    text-align: center;
}

.footer__link {
    text-decoration: none;
    color: white;
    font-size: 30px;

}

.footer__link p {
    margin: 0;
    padding: 20px 0;
}
