
@font-face {
  src: url('./fonts/Pacifico-Regular.ttf') format('truetype');
  font-family: 'Pacifico';
  font-weight: normal;
}

.body {
  display: flex;
  flex-direction: column;
  max-width:100%  ;
  min-width: 320px;
  margin: 0 auto;
  background-color: #8C9CD1;
  font-family: 'Pacifico', sans-serif;
  color: white;
}

.body__logo {
  display: block;
  max-width: 716px;
  margin-left: -50px;
  padding-top: 30px;
  align-self: center;
}

.body__decore {
  position: relative;
  z-index: 1;
  max-width: 70%;
}
